* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
body {
  background-image: url("images/bg-intro-desktop.png");
  background-color: #ff7878b8;
  color: white;
}
@media all and (min-max: 600px) {
  .content {
    flex: 1;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  font-weight: 100px;
  font-family: Helvetica, sans-serif;
}
.content-text {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2em;
}
.container {
  padding: 5em;
}

.text {
  margin-left: auto;
  padding: 4em;
}

.try {
  background-color: #5d54a3;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(62, 62, 62, 0.633);
  text-align: center;
}
.try:hover {
  cursor: pointer;
}

.form {
  background-color: white;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(62, 62, 62, 0.633);
}

.space {
  margin: 10px;
}
text {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.btn {
  background-color: #37cc8a;
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  width: 100%;
}
input[type="text"],
[type="email"],
[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
